/* :root {
    --primary-color: #216B9B;
    --secondary-color: #CCEBFF;
} */
.listPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.list-page-search-cont{
    background: url(src/assets/propertyListBackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vw;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 1vw;
}
.list-page-search-holder{
    width: 87%;
    background-color: white;
    height: 11vw;
    border-radius: 48px 48px 0 0;
    padding: 2vw 2vw 0 2vw;
}

.list-page-results{
    margin: 7vh;
}
.list-page-card-cont{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-bottom: 1px solid black;
}

.page-link{
    border-radius: 20px;
    background-color: var(--primary-color) !important;
    color: white !important;
}

.page-item.active .page-link {
    color: black !important;
    background-color: white !important;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link
{
    background-color: rgb(33, 31, 31) !important;
    color: white !important;
    border-radius: 20px !important;
}

.explore-near-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
   
}

.list-map-cont{
    width: 50%;

}