.list-page-search{
    background-color: #CCEBFF;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
    display: flex;
        color: #216B9B;
    align-items: center;
    justify-content: space-around;
}
.listpage-search-divider{
    height: 5vw;
}

.list-page-line{
    width: 100%;
    height: 100%;
    border-right: 2px solid #216B9B;
}

.list-page-search-filter{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.list-page-search-filter h5{
    margin-left: 4px;
}
.list-page-search-filter select{
    background-color: inherit;
    border: none;
    font-weight: 300;
}

.list-page-search button{
    background-color:#216B9B;
    border: none;
    border-radius: 10px;
    width: 5vw;
    height: 5vw;
}