.landing-cont-2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.landing-cont-2 h3{
  font-weight: 700;
}

/*------------------- landing container holder----------------------------- */
.hero-cont {
  background-image: url(../../assets/Hero.svg);
  background-position: center;
  background-size: cover;
  height: 630px;
  width: 89vw;
  margin: 5vh;
  border-radius: 30px;
}

.header-caption {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 28vw;
}
.header-caption h1 {
  font-size: 45px;
  font-weight: 700;
}
.header-caption p {
  font-size: smaller;
}
/*----------------------- Count details styles --------------------- */
.count-card-cont {
  display: flex;
  margin: 10vw 2vw 2vw 2vw;
  gap: 4vw;
}
.count-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
}

.card-title {
  font-size: 3vw;
  font-weight: 700;
}

.card-text {
  font-size: smaller;
}

.search-cont{
  margin: 8vw 0 0 3vw;
}

/* -------------------info text ---------------------*/

.info-text-cont {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 90%;
  height: fit-content;
  margin: 5vh;
  padding-top:3vw;
  border-radius: 20px;
}

.info-img {
  background: url(../../assets/Info-image.svg);
  width: 50%;
  height: 35vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.info-text{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.icon-text-cont{
  display: flex;
    gap: 15px;
    align-items: start;
}

/* -----------------Carousal component styles ------------------------------- */
.carousal-container {
  width: calc(100% - 10vh);
  margin: 0 auto; /* Centers it horizontally */
  box-sizing: border-box; /* Ensure margins are included in width calculation */
}
.img-holder {
  height: 500px; /* Set the height of the div */
  width: 100%; /* Make it responsive to the container */
  background-size: cover; /* Ensure the background image covers the div */
  background-position: center; /* Center the background image */
  border-radius: 16px;
}
.carousel-caption {
  position: absolute !important;
  top: 20%;
  left: 50%;
  text-align: center !important; /* Center the text inside the caption */
}
h2 {
  font-weight: bold;
  margin: 0; /* Remove default margins */
}
p {
  margin: 0; /* Remove default margins */
}

.bg-image-1 {
  background-image: url("src/assets/Background1.svg");
}

.bg-image-2 {
  background-image: url("src/assets/Background2.svg");
}

.bg-image-3 {
  background-image: url("src/assets/Background3.svg");
}

/* ---------------------- property list styles ----------------------- */
.property-list-cont {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  gap: 4vw;
}
.icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.icon {
  width: 110px;
  color: black;
}
.icon:hover,
.icon:active {
  color: #216B9B;
}

.card-cont {
  text-align: start;
}
/* -----------------------------comment section------------------------------ */
.review-cont{
  width: 89vw;
  display: flex;

}
.comment-cont {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 400px; /* Adjust height as needed */
  width: 40vw;
}

.comment-carousel {

  display: flex;
  flex-direction: column;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); /* Adjust based on number of comments */
  }
}
.sidebar-cont{
  background: url(../../assets/sideBar.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 40vw;

}

/* landingCard */
.landing-card-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* space between cards */
}

.landing-card-cont > * {
  height: 300px; /* adjust height as needed */
}

/*------------------------------ map style------------------------------- */
.map-cont{
  margin: 5vh;
  height: 35vw;
  width: 86vw;
  border-radius: 20px;
  /* box-shadow:  3px 6px 10px rgba(0, 0, 0, 0.4); */
}

.map-search-container {
  position: relative;
  z-index: 1000 !important;
 
  width: 33vw;
  top: -11vw;
  }

  @media (max-width:600px){
    .map-search-container {
      width: 100%;
     
      }
      .map-cont{
        border: none;
      }
      .info-img {
        height: 79vw;
        width: 70%;
      }
      .landing-card-cont{
        grid-template-columns: repeat(2, 1fr);
      }
  }


@media (max-width: 992px) {
  .card-text {
    font-size: 2vw;
    font-weight: 500;
  }
  .subs-cont {
    font-size: 2vw;
    padding: 20px;
  }
  .count-card-cont {
    margin: 0 0 0 5vh;
  }

  
  .info-text-cont, .icon-text-cont,.review-cont
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar-cont{
    height: 90vw;
  }
  .comment-cont{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* width: 75%; */

  }
  .info-text{
    width: 90%;
  }
  .map-cont{
    height: 370px;
  }
}
