
.navBar-body{
 background-color: rgba(255, 255, 255, 0.518) ;
 backdrop-filter: blur(4px) ;
}

.navBar-body.scrolled {
    background-color: rgb(204 235 255 / 47%); /* New color after scrolling */
    backdrop-filter: blur(4px) ;
  }

.logo-cont{
    
    background-color: inherit;
    

}
.nav-link{
    color: black !important;
    border-color: #216B9B;
}
.nav-link:hover {
    text-decoration:2px underline solid grey !important; /* Disable hover border on larger screens */
}
.nav-link.active {
    color: #216B9B !important;
    /* border-bottom: 2px solid #216B9B; Disable hover border on larger screens */
    text-decoration:2px underline solid #216B9B !important; /* Disable hover border on larger screens */
}



@media (max-width: 992px) {
    .nav-link:hover {
        border-bottom: none; /* Disable hover border on larger screens */
    }

    .nav-link.active {
        border-bottom: none !important; /* Disable active border on larger screens */
    }
    .navbar-nav {
        display: block !important; /* Change display to block for smaller screens */
    }
    .hide-at-lg {
        flex-direction: column;
        /* Hide the spacer div on screens 992px and larger */
    }
    .header-dropdown .dropdown-menu {
        width: 30%;
        
    }

}

@media (min-width: 992px) {
.signUp{
    background-color: #216B9B !important;
    color: white !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    width: 7vw;
    text-align: center;
    border-bottom:none !important;
}
.header-dropdown .dropdown-menu {
    /* left: -69% !important; */
    top: 110% !important;
}
}

.dropdown-toggle::after {
    content: none !important; /* Removes the arrow */
    border: none !important;  /* Removes the border style */
}

.profile-card-container{
    position: absolute;
    right: 41vw;
    top:4vw;
}