
.listPage {
    display: flex;
    /* flex-direction: column; */
    padding: 20px;
    margin: 0 5vh;
    gap: 2vw;
}

.list-search-cont{
    background-color: #CCEBFF;
    border-radius: 20px;
    width: 40vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-map-cont{
    width: 50%;
    height: 100;
}

.listPage-search-list-cont{
    display: flex;
    flex-direction: column;
    width: 49vw;
    gap: 2vw;
}

